extends layout

block header
    = req.user.tag

block main
    p!= body
    br
    if main && !main.fake
        p This account has been marked as an alt account of 
            a(href=`/users/${main.id}`)= main.tag
            | .
    if alts && alts.some(alt => !alt.fake)
        p This account has the following alt accounts: !{english_list(alt.filter(alt => !alt.fake).map(alt => `<a href='/users/${alt.id}'>${escape(alt.tag)}</a>`))}